Laboratory 7/src/resources/xml/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="educationaldepartment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:int" name="id" use="required"/>
                                            <xs:attribute type="xs:string" name="first_name" use="required"/>
                                            <xs:attribute type="xs:string" name="last_name" use="required"/>
                                            <xs:attribute  name="averageMark" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:double">
                                                        <xs:minInclusive value="60"/>
                                                        <xs:maxInclusive value="100"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="studying_program" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>